/* General style for the homepage */
body {
    font-family: Arial, sans-serif;
    background-color: #e2dbdb;
    color: #333; 
    margin: 0px;
}

.main-nav.fixed-nav {
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #8b4513; /* Couleur de fond de la barre de navigation */
    z-index: 1000; /* Pour s'assurer que la barre de navigation apparaît au-dessus du contenu défilant */
}

.main-nav nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-nav nav ul li {
    display: inline;
    margin-right: 20px;
}

.main-nav nav ul li a {
    color: white;
    text-decoration: none;
}

.main-nav nav ul li a:hover {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    color:#a55318;
}

.sidebar {
    margin-top: 125px;
    position: fixed;
    top: 70px; /* Ajustez cette valeur pour aligner la barre de navigation avec la barre de navigation principale */
    bottom: 0;
    width: 200px; /* Largeur de la barre de navigation latérale */
    background-color: #a55318;
     /* Pour s'assurer que la barre de navigation est au-dessus du contenu */
    
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
    margin-top: 30px;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.sidebar nav ul li a:hover {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    color:#a55318;
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 20%;
    z-index: 1000;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    margin-left: 300px;
    margin-top: 220px;
}

h2 {
    font-size: 24px;
    color: #555; /* Couleur des titres de section */
}

.search {
    width: 50%;
    padding: 10px;

}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #8b4513; /* Couleur de fond marron */
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: 260px;
}

/* For screens smaller than 600px (mobile) */
@media (max-width: 600px) {

}

/* For screens between 600px and 1024px (tablet) */
@media (min-width: 601px) and (max-width: 1024px) {
    
}

/* For screens larger than 1024px (desktop) */
@media (min-width: 1025px) {
    
}
